:root {
    box-sizing: border-box;
    font-size: 20px;
  }
  
  *,
  ::before,
  ::after {
    box-sizing: inherit;
  }
  .container>h2{
      font-size: 2em;
      border-bottom: 1px solid grey;
      text-align: center;
      
  }
  .centered{
    box-sizing: border-box;
    border:1px solid grey;
    padding:1.5em;
    margin-bottom: 0.5em;
    width:15em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
  }
    
  .field{
    display: flex;
    flex-direction: column;
  margin-bottom: 0.5em;
  }
  .field label{
    margin-bottom: 0.3em;
  }
  .start-button{
    box-sizing: border-box;
    border:1px solid blue;
    height: 1em;
    font-size: 5em;
  }
  .button{
    background-color: transparent;
    font-size: 0.8em;
    border:1px solid blue;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    text-align: center;
    width:7em;
    cursor:pointer;
    padding: 0.5em;
    margin-left:auto;
    
  }
  .red{
    border:1px solid red;
  }
  .bottom{
    width:16em;
  }
  .meta{
    color:grey;
    font-size:0.8em;
  }
  .center-timer{
    text-align: center;
    color:rgba(0, 0, 0, 0.568);
  }
  .icons{
    text-align: right;
    font-size: 0.8em;
  }
  .iconTrashAndEdit
  {
    margin-right: 1em;
    margin-bottom: 1em;
    cursor: pointer;
  }
  .plus{
    width:2em;
    font-size: 1em;
  }
  .toggleform{
    text-align: center;
  }